@import url('https://fonts.cdnfonts.com/css/simply-sans');


:root {
    --color-primary: #FF7500;
    --color-secondary: white;
    --color-aux: #414141;
}

* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
button{
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Karla", "sans-serif";
}

header {
    background-color: var(--color-primary);
    height: 140px;

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.header-container a {
    flex-shrink: 0;
}
.header-container a img {
    width: 80%;
}
.header-container .nav-links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.header-container .nav-links ul li {
    color: white;
    list-style: none;
    padding: 0;
}

.header-container .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Simply Sans', sans-serif;
    font-weight: 600;
    padding: 0;
}
.bars-icon{
    display: none;
    color: white;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .nav-links{
        display: none;
    }
    .bars-icon{
        display: block;
  }
}
@media only screen and (max-width: 1280px) {
    .header-container {
        padding-left: 1rem;
        /* Añadido más espacio en dispositivos más pequeños */
        padding-right: 1rem;
    }
}

/* Section tech grid */

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    min-height: 100vh;
    justify-content: center;
    grid-template-areas: 
    "tech order";
    gap: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .tech-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "order"
        "tech";
    }
}

/* @media only screen and (max-width: 1280px) {
    .tech-grid {
        display: grid;
        grid-template: 100vh / 1fr;
        gap: 5px;
    } 
} */

.tech-container {
    grid-area: tech;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-container h1 {
    width: 90%;
    max-width: 500px;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 2em;
}

.form-container {
    background-color: var(--color-primary);
    width: 60%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    position: relative;
    flex: 1 1 300px;
}

.form-description {
    color: white;
    font-family: "Karla", sans-serif;
}

.number-track-input,
.name-client-input {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin: 0 0 15px;
    padding: 10px;
}

/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.search-button-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.search-button{
    background-color: #414141;
    border: none;
    border-radius: 3px;
    padding: 12px;
    width: 100px;
    color: white;
    font-weight: 600;
}

button:focus-visible{
    outline: none !important;
    border: none !important;
}
.search-button:active{
    border: none;
}

.search-span{
    margin-right: 5px;
}

/* order container */

.order-container {
    grid-area: order;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-container img {
    width: 100%;
    max-width: 360px;
    height: auto;
}

.order-article{
    border: 3px solid var(--color-primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 500px;
    padding: 15px;
}

.order-header{
    background-color: transparent;
    height: 36px;
}
.order-header h3{
    margin: 0;
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 21px
}

.order-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    width: 450px;
}
.order-image-temu {
    display: flex;
    width: 80px;
    height: 150px;
    justify-content: start;
    align-items: start;
}
.order-image-temu img{
    width: 64px;
    height: 64px;
    margin-right: 15px;
}
.order-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    color: black;
}

.order-content p{
    margin-top: 0;
    font-weight: 600;
}

.register-button{
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 140px;
    color: white;
    font-size: 14px;
    font-weight:600;
    font-family: "Karla", sans-serif;
    margin-right: 85px;
}

/* Section services features cards */

.services-features-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 150px;
}



.services-features-container h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 35px;
    line-height: 50px;
}

.services-grid{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 1280px) {
    .services-grid {
        display: grid;
        grid-template: 1fr / 1fr;
        gap: 20px;
    } 
}

.card-services{
    font-family: "Karl", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 5px solid var(--color-primary);
    border-radius: 8px;
    padding: 20px;
    color: var(--color-primary);
    min-height: 20%;
    max-height: 100%;
}

.card-services p{
    margin-top: 0;
    text-align: center;
    color: rgb(17, 42, 39, 0.9);

}

.card-services img{
    width: 150px;
    height: 150px;
}

.card-services h3{
    margin: 10px 0 10px 0;
    font-weight: 600;
    font-family: 'Karla';
    font-size: 24px;

}


.contact-button{
    background-color: var(--color-primary);
    border-radius: 3px;
    padding: 12px;
    width: 100px;;
    border: none;
    font-family: "Karl", sans-serif;
    font-weight: bold;
    color: white;
    margin: 20px 20px;
    border-radius: 5px;
}

.button, .see-more{
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
}

footer{
    height: 100%;
    height: 100vh;
    background-color: var(--color-aux);
}

.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: "Karl", sans-serif;
    color: white;
}

@media (min-width: 320px) and (max-width: 1024px) {
   .footer-container{
    flex-flow: row wrap;
    justify-content: start;
    padding-left: 25px;
    gap: 5px;
   }

}

.header-footer{
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    height: 20px;
}

.location-wrapper{
    display: flex;
    justify-content: end;
    flex-flow: column wrap;
}
.header-footer{
    margin-bottom: 10px
}
.location-wrapper span{
    margin-left: 10px;
    font-weight: 600;
}
.location-wrapper p{
    margin: 0 0 15px 25px;
}
.footer-description{
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
}

.email-wrapper span{
    margin-left: 10px;
    font-weight: 600;
}
.email-wrapper p{
    margin: 0 0 15px 25px;
}

.social-networks{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 25px;
}
.social-networks-icons{
    padding-top: 15px;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.social-networks span{
    font-weight: 600

}

@media (min-width: 320px) and (max-width: 767px) {
    .tech-grid{
        padding-top: 3rem;
        width: 100%;
        grid-template-columns: 90%;
    }
    .order-container img {
        max-width: 90%;
    }
    .order-article {
        width: 90%;
    }
    .order-header h3{
        font-size: 15px;
    }
    .order-image-temu{
        height: 80px;
    }
    .order-container {
        grid-area: order;
        width: 100%;
        max-width: 500px;
        /* max-height: 100%; */
        display: flex
    ;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .order-wrapper{
      
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
             align-items: start;
            width: 90%;
        }
        .tech-container{
            width: 100%;

        }
        .tech-container h1 {
            width: 90%;
            font-size: 25px;
    }
    .form-container{
        width: 90%;
    }
    .services-features-container h2 {
    text-align: center;
    }
    .services-features-container {
        width: 90%;
        margin: 0 auto;
    }
}